* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.pdf binary
*.wasm binary
*.glb binary
*.blend binary
*.iqm binary
*.vox binary
*.wav binary
*.mp3 binary
*.ttf binary
*.otf binary
